## -------------------------------------------------------------------------
## mass regions
[file]

tree = sixBtree

## -------------------------------------------------------------------------
## mass regions
[mass]

maxSR = 25
maxVR = 60
maxCR = -1

## -------------------------------------------------------------------------
## mass regions
[score]

threshold = 0.65

## -------------------------------------------------------------------------
## BDT parameters
[BDT]

Nestimators = 40
learningRate = 0.1
maxDepth = 3
minLeaves = 300
GBsubsample = 0.6
randomState = 2020

variables = HX_b1_pt, HX_b2_pt, HY1_b1_pt, HY1_b2_pt, HY2_b1_pt, HY2_b2_pt, HX_pt, HY1_pt, HY2_pt, HX_dr, HY1_dr, HY2_dr, HX_eta, HY1_eta, HY2_eta